<nb-card>
  <nb-card-header><img class="mr-2" src="https://img.icons8.com/fluent/30/000000/user-shield.png"/>Personal Information
  </nb-card-header>
  <nb-card-body>
    <p>Please introduce yourself to us. Based on your information we can deliver more interactive insight to you.</p>
    <p><b>NB:</b> We never share your information to others.</p>
    <div class="row justify-content-end">
      <div class="col-sm-9">
        <nb-list>
          <nb-list-item>
            Muazzem Hossain Mamun
          </nb-list-item>
          <nb-list-item>
            muazzem.mamun@gmail.com
          </nb-list-item>
        </nb-list>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <nb-badge text="New Features" status="success" position="top right"></nb-badge>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Stacks">
        <p>Please enlist your stacks which you are the strongest. Based on your stacks we will rank the most relevant
          companies for you. We update the ranking every 1-week interval.</p>
        <div>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected>Primary fish</mat-chip>
          </mat-chip-list>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Resume">
        <p>You can also upload your CV. The system will collect stacks from your CV and recommend the most relevant
          companies for you. Please be patient. It will take 5-6 minutes to review your CV and update stacks
          accordingly.</p>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
